body {
	font-family:$font-serif;
	background:#fdfdf7;
	color:black;
}

a {
	color:black;
	text-decoration:none;
}

a:hover {
	color:red;
	text-decoration: none;
}

.space {
	margin-top:4em;
	margin-bottom:4em;
}

img.space {
	margin:4em 0em;
}

h5 {
	font-size:1em;
	font-weight:bold;
	font-family: $font-sans;
}

.supermandag {
	background:red;
	color:white;
}

.tidsbilde {
	background:yellow;
	color:black;
}

.tidsbilde:hover {
	color:white;
}

.filmrulltorsdag {
	background:blue;
	color:white;
}

ul.uten {
	margin:0;
	padding:0;
}

ul.uten li {
	list-style-type: none;
}

.giffy-img {
	display:none;
}

a:hover.giffy + .giffy-img {
	display:1;
	position:fixed;
	top:5%;
	height: 500px;
	left:0%;
	z-index: 1;
}

/* Meny */

li.menu-item a {
	font-size:1.25em;
	font-family:$font-sans;
	color:black;
	border-bottom:0;
}

li.menu-item a:hover {
	text-decoration: none;
	border-bottom:2px double black;
}

ul#menu-menu-2 li a {
	color:white;
	border-bottom:1px solid white;
}

ul#menu-menu-2 li a:hover {
	color:yellow;
	border-bottom:1px solid yellow;
}

.intro-info {
	z-index:10;
	margin-top:3em;
	padding:2em;
	text-align:center;
}

.intro-info:hover, .intro-info-event:hover {
	background:black;
}

.hjem-intro-bilde {
	margin-top:1em;
}

img.over-hover:hover {
	z-index:30;
}

.intro-info h1 {
	padding:1em 10px;
}

.hjem-intro-sub {
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family:$font-sans;
}


.hjem-intro-ingress {
	margin-top:2em;
	font-size:1em;
	line-height:1.25em;
	font-weight:bold;
}

/* FORSIDE Programliste */

.programliste-info {
	font-size:2em;
}

.sort {
	font-family:$font-sans;
	background:black;
	color:white;
	z-index:100000;
	margin:2em 0em;
}

ul.film-sub {
	margin:0;
	padding:0;
}

ul.film-sub li {
	display:block;
	font-size:.4em;
}

ul.film-sub li:first-child {

}

ul.film-sub li:last-child {
	padding-bottom:.7em;
}

.intro-outro {
	font-size:.75em;
	padding:1em;
}

.film-info {
	color:white;
	padding:.7em 0em .4em 0em;
	border-bottom:1px solid white;
}

a.film-info {
	padding-top:1em;
}

.film-info:hover {
	color:white;
	background:#101010;
	text-decoration: none;
}

.film-tittel-m {
	font-family:$font-film;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height:40%;
}

.t-a-r {
	text-align:right;
}

/* Bildestil Ratio */
.item-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 50%; /* here the desired aspect ratio */
}
.item-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* Historietime */

.historietime {
	margin-top:4em;
	margin-bottom:0;
	padding-top:2em;
	background:black;
	color:white;
}

@media screen and (min-width: 800px) {
	.intro-info {
		position:absolute;
	}
		.navigasjon {
	margin:1em 0em 4em 0em;
}
}